<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style-grid-respons.css">
</head>
<body>
    <div class="container">
    <header>Header</header>
    <nav>Navigation</nav>
    <main>Main Content</main>

        <div class="thumb"><div>
        <img src="../static/dophuongcamera-woman-8777803.jpg"></div>  
        <h2>Tričko Basic</h2>
        <p class="desc">Pohodlné tričko na každý den.</p>
        <div class="price">299 Kč</div>
        <button class="btn">Do košíku</button>

        <div class="thumb"><img src="../static/dophuongcamera-woman-8777803.jpg"></div>  
        <h2>Mikina Zip</h2>
        <p class="desc">Teplá mikina se zipem a kapucí. Hodí se do školy i ven.</p>
        <div class="price">899 Kč</div>
        <button class="btn">Do košíku</button>

        <div class="thumb"><img src="../static/storme22k-fennec-fox-9846388.jpg"></div>  
        <h2>Láhev 1L</h2>
        <p class="desc">Lehká sportovní láhev.</p>
        <div class="price">249 Kč</div>
        <button class="btn">Do košíku</button>
      </article>


</body>
</html>

<div>
    <img src="../static/dophuongcamera-woman-8777803.jpg" alt="">
    <img src="../static/moroznaya_photo-landscape-10201703.jpg" alt="">
    <img src="../static/storme22k-fennec-fox-9846388.jpg" alt="">
</div>