<!DOCTYPE html>
<html lang="cs">
<head>
<meta charset="UTF-8">
<title>Grid 1</title>
<link rel="stylesheet" href="../static/style-grid.css">
</head>
<body>

    <header>
        <nav>
          <ul class="menu">
            <li><a href="#">Domů</a></li>
            <li><a href="#">O nás</a></li>
            <li><a href="#">Kontakt</a></li>
            <li><a href="#">Služby</a></li>
            <li><a href="#">Reference</a></li>
          </ul>
        </nav>
      </header>

    <main>
        <section class="products">
    
          <article class="card">
            <div class="thumb"><img src="../static/dophuongcamera-woman-8777803.jpg"></div>
            <h2>Tričko Basic</h2>
            <p class="desc">Pohodlné tričko na každý den.</p>
            <div class="price">299 Kč</div>
            <div class="btn-group">
              <button class="btn">Do košíku</button>
              <button class="btn">Detail</button>
            </div>
          </article>
    
          <article class="card">
            <div class="thumb"><img src="static/moroznaya_photo-landscape-10201703.jpg"></div>
            <h2>Mikina Zip</h2>
            <p class="desc">Teplá mikina se zipem a kapucí. Hodí se do školy i ven.</p>
            <div class="price">899 Kč</div>
            <div class="btn-group">
              <button class="btn">Do košíku</button>
              <button class="btn">Detail</button>
            </div>
          </article>
    
          <article class="card">
            <div class="thumb"><img src="static/storme22k-fennec-fox-9846388.jpg"></div>
            <h2>Láhev 1L</h2>
            <p class="desc">Lehká sportovní láhev.</p>
            <div class="price">249 Kč</div>
            <div class="btn-group">
              <button class="btn">Do košíku</button>
              <button class="btn">Detail</button>
            </div>
          </article>
    
          <article class="card">
            <div class="thumb"><img src="https://picsum.photos/seed/picsum/300/200"></div>
            <h2>Batoh City</h2>
            <p class="desc">Batoh do města s kapsou na notebook a menšími přihrádkami.</p>
            <div class="price">1 290 Kč</div>
            <div class="btn-group">
              <button class="btn">Do košíku</button>
              <button class="btn">Detail</button>
            </div>
          </article>
    
          <article class="card">
            <div class="thumb"><img src="https://picsum.photos/seed/picsum/300/200"></div>
            <h2>Sluchátka</h2>
            <p class="desc">Jednoduchá sluchátka na poslech hudby.</p>
            <div class="price">399 Kč</div>
            <div class="btn-group">
              <button class="btn">Do košíku</button>
              <button class="btn">Detail</button> 
            </div>
          </article>
    
        </section>
      </main>
</body>
</html>